# python
*.py[cod]
__pycache__/
*.egg-info/

# text editor backups
*~

# eclipse
.project
.settings
.externalToolBuilders
.pydevproject

# svn
.svn

# Mac OS X
.DS_STORE
.DS_Store

# configs
**/local-config.json

# build/packaging/dependencies
**/build/
**/dist/
**/sdist/
**/node_modules/

/doc/

*.tgz
*.tar.gz
package-lock.json
.grunt